///lunjure CSS
$base-path-font: '/fonts/';
$base-path-images: '/images/';
$windows-radius: 10px;
$room-bg-color: rgba(213,214,198,1);
///fontface
//

//handwritten font
@font-face {
    font-family: 'paul';
    src: url($base-path-font + 'paulmaul/!PaulMaul-webfont.eot');
    src: url($base-path-font + 'paulmaul/!PaulMaul-webfont.eot?#iefix') format('embedded-opentype'),
         url($base-path-font + 'paulmaul/!PaulMaul-webfont.woff') format('woff'),
         url($base-path-font + 'paulmaul/!PaulMaul-webfont.ttf') format('truetype'),
         url($base-path-font + 'paulmaul/!PaulMaul-webfont.svg#!PaulMaulRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

//terminal style font
@font-face {
    font-family: 'CPMono';
    src: url($base-path-font + 'cpmono/cpmono_v07_plain-webfont.eot');
    src: url($base-path-font + 'cpmono/cpmono_v07_plain-webfont.eot?#iefix') format('embedded-opentype'),
         url($base-path-font + 'cpmono/cpmono_v07_plain-webfont.woff') format('woff'),
         url($base-path-font + 'cpmono/cpmono_v07_plain-webfont.ttf') format('truetype'),
         url($base-path-font + 'cpmono/cpmono_v07_plain-webfont.svg#CPMono_v07PlainCPMonov07Plain') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
 margin: 0;
 padding: 0;
}

html,
body {
 width: 100%;
 height: 100%;
 min-height: 100%;
 min-width: 1100px;
 &.chatroom {
  background: {
    color: #888;
        image: -webkit-linear-gradient(0deg, 
                                       rgba(41,36,41,0.1),
                                       rgba(41,36,41,0.1) 30%,
                                       rgba(41,36,41,0) 30%,
                                       rgba(41,36,41,0)100%),
        -webkit-linear-gradient(-45deg, 
                                       rgba(41,36,41,0.1),
                                       rgba(41,36,41,0.1) 30%,
                                       rgba(41,36,41,0) 30%,
                                       rgba(41,36,41,0)100%),
        -webkit-linear-gradient(45deg, 
                                       rgba(41,36,41,0.1),
                                       rgba(41,36,41,0.1) 30%,
                                       rgba(41,36,41,0) 30%,
                                       rgba(41,36,41,0)100%);
        repeat: repeat;
        size: 3px 7px,10px 10px,5px 5px;
  }
 }
}
#main_wrapper {
 width: 100%;
 height: 100%;
 position: relative;
}
.content-inner {
  width: 100%;

}
header {
 &#main_header {
  position: absolute; 
  left: 50%; 
  top: 50%;
  height: 100px;
  line-height: 100px;
  width: 600px;
  margin: -50px 0 0 -300px;
  text: {
   align: center;
  }
  font: {
   size: 30px;
   family: CPMono;
  }
  background: {
   color: rgba(0,0,0,0);
  }
 }
}
#bottom_navigation {
  z-index: 999;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.5) inset;
  font: {
   size: 10px;
   family: CPMono;
  }
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  background: darken($room-bg-color, 10%);
  ul {
    li {
      list-style: {
        type: none;
      }
      display: inline;
      &:not(:last-child):after {
       content: ' | ';
      }
      a {
        color: #555;
        text: {
          decoration: none;
        }
        &:hover {
          color: #222;
        }
      }
    }
  }
 }

header#chat_title {
  z-index: 999;
  box-shadow: 2px -2px 0 rgba(0,0,0,0.5) inset;
  font: {
   size: 10px;
   family: CPMono;
  }
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  background: darken($room-bg-color, 10%);
  #roomname {
    &:before {
      content: 'room: '

    }
  }
}
#login_section {
 position: absolute; 
 left: 50%; 
 top: 50%;
 height: 300px;
 line-height: 100px;
 width: 300px;
 margin: 50px 0 0 -150px;
 text: {
  align: center;
 }
 background: {
  color: rgba(0,0,0,0);
 }
  button {
    cursor: pointer;
   -webkit-appearance: none;
   width: 300px;
   margin: 20px auto;
   display: block;
   line-height: 50px;
   height: 50px;
   font: {
    size: 18px;
    family: CPMono;
   }
   background: {
    color: rgba(200,200,200,1);
   }
   border: {
    radius: 4px;
    width: 1px 1px 1px 1px;
    color: rgba(180,180,180,1);
    style: solid;
   }
   box: {
    shadow: 0 0 19px rgba(255,255,255,0.6) inset,
            0 5px 0 rgba(100,100,100,1);
   }
   &:hover {
     background: {
      color: rgba(180,180,180,1);
     }  
     border: {
      color: rgba(160,160,160,1);
     }
   }
   &:active {
     margin: 24px auto;
     box: {
      shadow: 0 0 19px rgba(255,255,255,0.6) inset,
              0 1px 0 rgba(100,100,100,1);
     }
   } 
  }
}

#chat_window {
  background: {
    color: $room-bg-color;
  }
  box: {
    shadow: 0 0 2px rgba(0,0,0,0.2) inset,
            -4px 0 0 darken($room-bg-color,30%),
            -4px -1px 0 darken($room-bg-color,30%),
            -4px -2px 0 darken($room-bg-color,30%),
            -4px -3px 0 darken($room-bg-color,30%),
            -4px -4px 0 darken($room-bg-color,30%),
            0 -4px 0 darken($room-bg-color,30%),
            -1px -4px 0 darken($room-bg-color,30%),
            -2px -4px 0 darken($room-bg-color,30%),
            -3px -4px 0 darken($room-bg-color,30%),
            -4px -4px 0 darken($room-bg-color,30%),
            4px 0 0 darken($room-bg-color,50%),
            4px 1px 0 darken($room-bg-color,50%),
            4px 2px 0 darken($room-bg-color,50%),
            4px 3px 0 darken($room-bg-color,50%),
            4px 4px 0 darken($room-bg-color,50%),
            0 4px 0 darken($room-bg-color,50%),
            1px 4px 0 darken($room-bg-color,50%),
            2px 4px 0 darken($room-bg-color,50%),
            3px 4px 0 darken($room-bg-color,50%),
            4px 4px 0 darken($room-bg-color,50%),
            -4px 1px 0 darken($room-bg-color,30%),
            -4px 2px 0 darken($room-bg-color,30%),
            -4px 3px 0 darken($room-bg-color,30%),
            -4px 4px 0 darken($room-bg-color,30%),
            1px -4px 0 darken($room-bg-color,30%),
            2px -4px 0 darken($room-bg-color,30%),
            3px -4px 0 darken($room-bg-color,30%),
            4px -4px 0 darken($room-bg-color,30%);
  }
  border: {
    radius: 15px;
  }
  width: 50%;
  position: absolute;
  height: 90%;
  min-height: 500px;
  left: 0;
  top: 0;
  padding: 25px;
  &:after {
    content: '';
    height: 10px;
    width: 40px;
    border: {
      radius: 30px;
    }
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: {
      color: #0f0;
      image: -webkit-radial-gradient(10px 2px, 40px 10px, rgba(255,255,255,0.7), rgba(255,255,255,0));
    }
    box-shadow: 0 0 4px rgba(0,0,0,0.9) inset;
  }
  *::selection {
    background: {
      color: rgba(47,167,1,1);
      }  
    color: rgba(31,36,28,1);
  }
  ::-webkit-scrollbar {
      width: 6px;
  }

  ::-webkit-scrollbar-track {
  }

  ::-webkit-scrollbar-thumb {
      background-color: rgba(47,167,1,1);
  }  
  #text_window {
      overflow-x:visible;
    box: {
      shadow: 0 0 200px rgba(0,0,0,0.9) inset,
              -4px 0 0 darken($room-bg-color,30%),
              -4px -1px 0 darken($room-bg-color,30%),
              -4px -2px 0 darken($room-bg-color,30%),
              -4px -3px 0 darken($room-bg-color,30%),
              -4px -4px 0 darken($room-bg-color,30%),
              0 -4px 0 darken($room-bg-color,30%),
              -1px -4px 0 darken($room-bg-color,30%),
              -2px -4px 0 darken($room-bg-color,30%),
              -3px -4px 0 darken($room-bg-color,30%),
              -4px -4px 0 darken($room-bg-color,30%),
              4px 0 0 darken($room-bg-color,20%),
              4px 1px 0 darken($room-bg-color,20%),
              4px 2px 0 darken($room-bg-color,20%),
              4px 3px 0 darken($room-bg-color,20%),
              4px 4px 0 darken($room-bg-color,20%),
              0 4px 0 darken($room-bg-color,20%),
              1px 4px 0 darken($room-bg-color,20%),
              2px 4px 0 darken($room-bg-color,20%),
              3px 4px 0 darken($room-bg-color,20%),
              4px 4px 0 darken($room-bg-color,20%),
              -4px 1px 0 darken($room-bg-color,30%),
              -4px 2px 0 darken($room-bg-color,30%),
              -4px 3px 0 darken($room-bg-color,30%),
              -4px 4px 0 darken($room-bg-color,30%),
              1px -4px 0 darken($room-bg-color,30%),
              2px -4px 0 darken($room-bg-color,30%),
              3px -4px 0 darken($room-bg-color,30%),
              4px -4px 0 darken($room-bg-color,30%);
    }
    font: {
      size: 18px;
      family: CPMono;
    }
    color: rgba(47,167,1,1);
    padding: 20px 20px 20px 20px;
    position: relative;
    height: 80%;
    background: {
      color: rgba(31,36,28,1);
    }
    border: {
      radius: $windows-radius;
    }
    > .output {
      padding: 0 100px 0 0;
      height: 80%;
      overflow-x:visible;
      overflow-y:auto;
      > p {
        position: relative;
        line-height: 20px;
        &[data-usercolor="red"]:before {
          color: rgba(167,1,28,1);
        }
        &[data-usercolor="orange"]:before {
          color: rgba(167,87,1,1);
        }
        &[data-usercolor="yellow"]:before {
          color: rgba(157,167,1,1);
        }
        &:before {
          content: attr(data-username) ': ';
        }
        &:after {
          position: absolute; 
          right: -100px;
          top:0;
          padding: 0 8px 0 0;
          content: '(' attr(data-time) ')';
        }
        &.status{
          visibility: visible;
          padding-left: 20px;
          color: rgba(157,167,1,1);
          &:last-child {
            -webkit-animation: blink 500ms linear 3 backwards;
          }
          &:before {
            content:'';
          }
        }
      }
    }
    &:after {

      pointer-events: none;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: {
        radius: $windows-radius;
      }
      background: {
        image: -webkit-linear-gradient(90deg, 
                                       rgba(41,36,41,0.5),
                                       rgba(41,36,41,0.5) 30%,
                                       rgba(41,36,41,0) 30%,
                                       rgba(41,36,41,0)100%);
        repeat: repeat;
        size: 3px 3px;
      }
    }
    .input-field {
      position: absolute;
      bottom: -20px;
      left: 0;
      padding: 10px 0;
      height: 50px;
      width: 100%;
      border: {
        top: 2px dashed rgba(47,167,1,1);
      }
      #message {
        position:relative;
        margin: 0 0 0 30px;
        width: 90%;
        -webkit-appearance: none;
        background: none;
        height: 28px;
        line-height: 28px;
        color: rgba(47,167,1,1);
        font: {
          size: 18px;
          family: CPMono;
        }
        border: {
          width: 0;
        }
        &:focus {
          outline: 0;
        }
        &:before {
          content: ">";
          height: 20px;
          line-height: 20px;
          width: 10px;
          text: {
            align: right;
          }
          position: absolute;
          left: -20px;
          top: 0;
        }
      }
    }
  }
}


//
///autocomplete
//

ul.ui-autocomplete {
  background: {
    color: rgba(31,36,28,1);
  }
  border: {
    radius: $windows-radius;
    width: 5px;
    style: solid;
    color: darken($room-bg-color,10%);
  }
  font: {
    size: 18px;
    family: CPMono;
  }
  color: rgba(47,167,1,1);
  padding: 10px;
  position: absolute;
  z-index: 99;
  li {
    list-style: {
      type: none;
    }
    a {
      display: block;
      width: 100%;
      -webkit-user-select: none;
      cursor: pointer;
      &.ui-state-hover {
        background: {
          color: rgba(47,167,1,1);
          }  
        color: rgba(31,36,28,1);
      }
      &:focus {
        outline: none;
      }
    }
  }
  &:after {
    pointer-events: none;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: {
      radius: $windows-radius;
    }
    background: {
      image: -webkit-linear-gradient(90deg, 
                                     rgba(41,36,41,0.5),
                                     rgba(41,36,41,0.5) 30%,
                                     rgba(41,36,41,0) 30%,
                                     rgba(41,36,41,0)100%);
      repeat: repeat;
      size: 3px 3px;
    }
  }
}



//
///text_pad
//

#text_pad {
  -webkit-user-select: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.7);
  border: {
    bottom-right-radius: 4px;
    bottom-left-radius: 4px;
  }
  padding: 44px 20px 20px;
  font: {
    size: 18px;
    family: paul;
  }
  color: #1b4395;
  line-height: 22px;
  position: absolute;
  right: 50px;
  top: 100px;
  width: 300px;
  height: 300px;
  background: {
    image: -webkit-linear-gradient(90deg, 
                                   #b7d7be,
                                   #b7d7be 10%,
                                   #e5e6a9 10%,
                                   #e5e6a9 100%);
    repeat: repeat;
    size: 22px 22px;
  }
  ul.team {
    position: relative;
    z-index: 5;

    li.team-name {
      list-style: {
        type: none;
      }
      span:after {
        content: ' :';
      }
      ul.users {
        margin: 0 0 0 20px;
        li.user {
          margin: 2px;
          width: 60px;
          height: 62px;
          text-align: center;
        -webkit-user-select: auto;
          display: inline-block;
          img {
            display:block;
            margin: auto;
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
  &:before {
    border: {
      bottom-right-radius: 4px;
      bottom-left-radius: 4px;
    }
    box-shadow: 0 2px 4px rgba(0,0,0,0.7);
    position: absolute;
    z-index: 0;
    top: -2px;
    left: -2px;
    width: 100%;
    height:100%;
    background: {
      image: -webkit-linear-gradient(90deg, 
                                     #b7d7be,
                                     #b7d7be 10%,
                                     #e5e6a9 10%,
                                     #e5e6a9 100%);
      repeat: repeat;
      size: 22px 22px;
    }
    content: '';
  }
  &:after {
    border: {
      bottom-right-radius: 4px;
      bottom-left-radius: 4px;
    }
    box-shadow: 0 2px 4px rgba(0,0,0,0.7);
    position: absolute;
    z-index: 0;
    top: -4px;
    left: -4px;
    width: 100%;
    height:100%;
    background: {
      image: -webkit-linear-gradient(90deg, 
                                     #b7d7be,
                                     #b7d7be 10%,
                                     #e5e6a9 10%,
                                     #e5e6a9 100%);
      repeat: repeat;
      size: 22px 22px;
    }
    content: '';
  }
  > div {
   height: 100%;
   overflow: scroll;
  }
  > div:after {
    content: '';
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    background: {
      color: #aaa;
    }
    position: absolute;
    z-index: 5;
    width: 100%;
    padding: 0 2px;
    height: 30px;
    top: -15px;
    left: -6px;
  }
  > div:before{
    content: '';
    position: absolute;
    -webkit-transform: skewY(60deg);
    right: -3px;
    top: -10px;
    height: 30px;
    width: 5px;
    background: #555;

  }
  *::selection {
    background: {
      color: rgba(222,167,227,0.8);
      }  
  }
}


//
///emoticon
//


span {
  &.emoticon {
    display:inline-block;
    width: 17px;
    position:relative;
    top:3px;
    height: 17px;
    padding: 0 2px;
    overflow: hidden;
    text-indent: 17px;
    background: {
      size: 17px 17px;
      position: 50% 50%;
      repeat: no-repeat;
    }
    &[data-emoticon="lol"] {
     background: {
      image: url($base-path-images + 'emoticons/bigSmile.png');
     }
    }
    &[data-emoticon="blink"] {
     background: {
      image: url($base-path-images + 'emoticons/blink.png');
     }
    }
    &[data-emoticon="smile"] {
     background: {
      image: url($base-path-images + 'emoticons/smile.png');
     }
    }
    &[data-emoticon="bigblink"] {
     background: {
      image: url($base-path-images + 'emoticons/bigBlink.png');
     }
    }
    &[data-emoticon="blinktongue"] {
     background: {
      image: url($base-path-images + 'emoticons/blinkTongue.png');
     }
    }
    &[data-emoticon="tongue"] {
     background: {
      image: url($base-path-images + 'emoticons/tongue.png');
     }
    }
    &[data-emoticon="sleep"] {
     background: {
      image: url($base-path-images + 'emoticons/zzz.png');
     }
    }
    &[data-emoticon="wtf"] {
     background: {
      image: url($base-path-images + 'emoticons/whatTheFuck.png');
     }
    }
    &[data-emoticon="hehe"] {
     background: {
      image: url($base-path-images + 'emoticons/hehe.png');
     }
    }
    &[data-emoticon="sad"] {
     background: {
      image: url($base-path-images + 'emoticons/sad.png');
     }
    }
    &[data-emoticon="cry"] {
     background: {
      image: url($base-path-images + 'emoticons/cry.png');
     }
    }
    &[data-emoticon="nosay"] {
     background: {
      image: url($base-path-images + 'emoticons/IdontGiveAFuck.png');
     }
    }
    &[data-emoticon="oo"] {
     background: {
      image: url($base-path-images + 'emoticons/O.png');
     }
    }
    &[data-emoticon="heart"] {
     background: {
      image: url($base-path-images + 'emoticons/love.png');
     }
    }
    &[data-emoticon="minus1"] {
     background: {
      image: url($base-path-images + 'emoticons/minusOne.png');
     }
    }
    &[data-emoticon="plus1"] {
     background: {
      image: url($base-path-images + 'emoticons/plusOne.png');
     }
    }
    &[data-emoticon="burger"] {
     background: {
      image: url($base-path-images + 'emoticons/burger.png');
     }
    }
    &[data-emoticon="coffee"] {
     background: {
      image: url($base-path-images + 'emoticons/coffee.png');
     }
    }
    &[data-emoticon="ice"] {
     background: {
      image: url($base-path-images + 'emoticons/ice.png');
     }
    }
    &[data-emoticon="rain"] {
     background: {
      image: url($base-path-images + 'emoticons/rain.png');
     }
    }
    &[data-emoticon="sun"] {
     background: {
      image: url($base-path-images + 'emoticons/sun.png');
     }
    }
  }
}

@-webkit-keyframes blink {
  0% {
    visibility:visible;
  }
  30% {
    visibility:hidden;
  }
  71% {
    visibility:hidden;
  }
  100% {
    visibility:visible;
  }
}

#testbutton {
  z-index: 999;
  box-shadow: -2px -2px 0 rgba(0,0,0,0.5) inset;
  background-color: darken($room-bg-color,10%);
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px;
  width: 100px;
  text-align: center;
  font-family: CPMono;
  height:30px;
  line-height: 30px;
  border: 0;
  display:block;
}

#logout {
 color: #888;
 text-shadow: 0 -1px 0 rgba(0,0,0,0.9);
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 80px;
  -webkit-appearance: none;
  width: 80px;
  margin: 20px auto;
  display: block;
  line-height: 50px;
  height: 50px;
  font: {
   size: 18px;
   family: CPMono;
  }
  background: {
   color: rgba(200,200,200,1);
  }
  border: {
   radius: 4px;
   width: 1px 1px 1px 1px;
   color: rgba(180,180,180,1);
   style: solid;
  }
  box: {
   shadow: 0 0 19px rgba(255,255,255,0.6) inset,
           0 5px 0 rgba(100,100,100,1);
  }
  &:hover {
  color: #777;
    background: {
     color: rgba(180,180,180,1);
    }  
    border: {
     color: rgba(160,160,160,1);
    }
  }
  &:active {
  bottom: 6px;
    box: {
     shadow: 0 0 19px rgba(255,255,255,0.6) inset,
             0 1px 0 rgba(100,100,100,1);
    }
  } 
}
