///lunjure CSS
$base-path-font: '/fonts/';
$base-path-images: '/images/';
$windows-radius: 10px;

///fontface
//

//handwritten font
@font-face {
    font-family: '!PaulMaulRegular';
    src: url($base-path-font + 'paulmaul/!PaulMaul-webfont.eot');
    src: url($base-path-font + 'paulmaul/!PaulMaul-webfont.eot?#iefix') format('embedded-opentype'),
         url($base-path-font + 'paulmaul/!PaulMaul-webfont.woff') format('woff'),
         url($base-path-font + 'paulmaul/!PaulMaul-webfont.ttf') format('truetype'),
         url($base-path-font + 'paulmaul/!PaulMaul-webfont.svg#!PaulMaulRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

//terminal style font
@font-face {
    font-family: 'CPMono';
    src: url($base-path-font + 'cpmono/cpmono_v07_plain-webfont.eot');
    src: url($base-path-font + 'cpmono/cpmono_v07_plain-webfont.eot?#iefix') format('embedded-opentype'),
         url($base-path-font + 'cpmono/cpmono_v07_plain-webfont.woff') format('woff'),
         url($base-path-font + 'cpmono/cpmono_v07_plain-webfont.ttf') format('truetype'),
         url($base-path-font + 'cpmono/cpmono_v07_plain-webfont.svg#CPMono_v07PlainCPMonov07Plain') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
 margin: 0;
 padding: 0;
}

html,
body {
 width: 100%;
 height: 100%;
 min-height: 100%;
 min-width: 600px;
 &.chatroom {
  background: {
    color: rgba(213,214,198,1);
  }
 }
}
#main_wrapper {
 width: 100%;
 height: 100%;
 position: relative;
}
.content-inner {
  width: 100%;

}
header {
 &#main_header {
  position: absolute; 
  left: 50%; 
  top: 50%;
  height: 100px;
  line-height: 100px;
  width: 600px;
  margin: -50px 0 0 -300px;
  text: {
   align: center;
  }
  font: {
   size: 40px;
   family: CPMono;
  }
  background: {
   color: rgba(0,0,0,0);
  }
 }
}

#login_section {
 position: absolute; 
 left: 50%; 
 top: 50%;
 height: 300px;
 line-height: 100px;
 width: 300px;
 margin: 50px 0 0 -150px;
 text: {
  align: center;
 }
 background: {
  color: rgba(0,0,0,0);
 }
  button {
    cursor: pointer;
   -webkit-appearance: none;
   width: 300px;
   margin: 20px auto;
   display: block;
   line-height: 50px;
   height: 50px;
   font: {
    size: 18px;
    family: CPMono;
   }
   background: {
    color: rgba(200,200,200,1);
   }
   border: {
    radius: 4px;
    width: 1px 1px 1px 1px;
    color: rgba(180,180,180,1);
    style: solid;
   }
   box: {
    shadow: 0 0 19px rgba(255,255,255,0.6) inset,
            0 5px 0 rgba(100,100,100,1);
   }
   &:hover {
     background: {
      color: rgba(180,180,180,1);
     }  
     border: {
      color: rgba(160,160,160,1);
     }
   }
   &:active {
     margin: 24px auto;
     box: {
      shadow: 0 0 19px rgba(255,255,255,0.6) inset,
              0 1px 0 rgba(100,100,100,1);
     }
   } 
  }
}

#chat_window {
  position: absolute;
  height: 90%;
  left: 50px;
  top: 50px;
  padding: 0 0 0 0;
  *::selection {
    background: {
      color: rgba(47,167,1,1);
      }  
    color: rgba(31,36,28,1);
  }
  #text_window {
    box: {
      shadow: 0 0 200px rgba(0,0,0,0.9) inset;
    }
    font: {
      size: 18px;
      family: CPMono;
    }
    color: rgba(47,167,1,1);
    padding: 20px;
    position: relative;
    height: 70%;
    width: 500px;
    background: {
      color: rgba(31,36,28,1);
    }
    border: {
      radius: $windows-radius;
    }
    > p {
      line-height: 20px;
      &[data-usercolor="red"]:before {
        color: rgba(167,1,28,1);
      }
      &[data-usercolor="orange"]:before {
        color: rgba(167,87,1,1);
      }
      &[data-usercolor="yellow"]:before {
        color: rgba(157,167,1,1);
      }
      &:before {
        content: attr(data-username) ": ";
        text-transform: capitalize;
      }
    }
    &:after {
      box: {
        shadow: 0 -70px 70px -50px rgba(0,0,0,0.2) inset,
                0 70px 70px -50px rgba(235,255,155,0.2) inset;
      }
      pointer-events: none;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: {
        radius: $windows-radius;
      }
      background: {
        image: -webkit-linear-gradient(90deg, 
                                       rgba(41,36,41,0.5),
                                       rgba(41,36,41,0.5) 30%,
                                       rgba(41,36,41,0) 30%,
                                       rgba(41,36,41,0)100%);
        repeat: repeat;
        size: 3px 3px;
      }
    }
    .input-field {
      position: absolute;
      bottom: -20px;
      left: 0;
      margin: 0 20px;
      padding: 20px;
      height: 50px;
      width: 460px;
      border: {
        top: 2px dashed rgba(47,167,1,1);
      }
      #message {
        width: 100%;
        -webkit-appearance: none;
        background: none;
        height: 20px;
        line-height: 20px;
        overflow: hidden;
        color: rgba(47,167,1,1);
        font: {
          size: 18px;
          family: CPMono;
        }
        border: {
          width: 0;
        }
        &:focus {
          outline: 0;
        }
        &:before {
          content: ">";
          position: absolute;
          left: 0;
          top: 20px;
        }
      }
    }
  }
}

span {
  &.emoticon {
    display:inline-block;
    width: 17px;
    position:relative;
    top:3px;
    height: 17px;
    padding: 0 2px;
    overflow: hidden;
    text-indent: 17px;
    background: {
      size: 17px 17px;
      position: 50% 50%;
      repeat: no-repeat;
    }
    &[data-emoticon="lol"] {
     background: {
      image: url($base-path-images + 'emoticons/bigSmile.png');
     }
    }
    &[data-emoticon="blink"] {
     background: {
      image: url($base-path-images + 'emoticons/blink.png');
     }
    }
    &[data-emoticon="smile"] {
     background: {
      image: url($base-path-images + 'emoticons/smile.png');
     }
    }
    &[data-emoticon="bigblink"] {
     background: {
      image: url($base-path-images + 'emoticons/bigBlink.png');
     }
    }
    &[data-emoticon="blinktongue"] {
     background: {
      image: url($base-path-images + 'emoticons/blinkTongue.png');
     }
    }
    &[data-emoticon="tongue"] {
     background: {
      image: url($base-path-images + 'emoticons/tongue.png');
     }
    }
    &[data-emoticon="sleep"] {
     background: {
      image: url($base-path-images + 'emoticons/zzz.png');
     }
    }
    &[data-emoticon="wtf"] {
     background: {
      image: url($base-path-images + 'emoticons/whatTheFuck.png');
     }
    }
    &[data-emoticon="hehe"] {
     background: {
      image: url($base-path-images + 'emoticons/hehe.png');
     }
    }
    &[data-emoticon="sad"] {
     background: {
      image: url($base-path-images + 'emoticons/sad.png');
     }
    }
    &[data-emoticon="cry"] {
     background: {
      image: url($base-path-images + 'emoticons/cry.png');
     }
    }
    &[data-emoticon="nosay"] {
     background: {
      image: url($base-path-images + 'emoticons/IdontGiveAFuck.png');
     }
    }
    &[data-emoticon="oo"] {
     background: {
      image: url($base-path-images + 'emoticons/O.png');
     }
    }
    &[data-emoticon="heart"] {
     background: {
      image: url($base-path-images + 'emoticons/love.png');
     }
    }
    &[data-emoticon="minus1"] {
     background: {
      image: url($base-path-images + 'emoticons/minusOne.png');
     }
    }
    &[data-emoticon="plus1"] {
     background: {
      image: url($base-path-images + 'emoticons/plusOne.png');
     }
    }
    &[data-emoticon="burger"] {
     background: {
      image: url($base-path-images + 'emoticons/burger.png');
     }
    }
    &[data-emoticon="coffee"] {
     background: {
      image: url($base-path-images + 'emoticons/coffee.png');
     }
    }
    &[data-emoticon="ice"] {
     background: {
      image: url($base-path-images + 'emoticons/ice.png');
     }
    }
    &[data-emoticon="rain"] {
     background: {
      image: url($base-path-images + 'emoticons/rain.png');
     }
    }
    &[data-emoticon="sun"] {
     background: {
      image: url($base-path-images + 'emoticons/sun.png');
     }
    }
  }
}








